<h1><%= @figure.name %></h1>

<h2> titles </h2>
  <% @figure.titles.each do |title| %>
    <%= title.name %> <br>
  <% end %>

<h2> Landmarks </h2>
  <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %> <br>
  <% end %>
